.hero-container {
  height: 100vh;
  background-color: #f4ece3;
  /* background-image: url('../../../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero-section {
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* margin-top: 140px; */
  height: 800px;
  padding: 10px;
}

.text {
  width: 50%;
  text-align: center;
  padding: 10px;
}

.nav-logo {
  height: 60px;
  padding: 5px;
  margin-left: 5px;
}

.cafe-logo {
  height: 120px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}

.menu-icon {
  padding: 10px;
  cursor: pointer;
}

.primary-heading {
  color: #333;
  font-weight: 900;
  font-size: 50px;
}

.hero-image {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.button {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 0 35px;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  background-color: #e67e22;
  color: white;
  cursor: pointer;
}
