.hero-container {
  height: 100vh;
  background-color: #f4ece3;
  /* background-image: url('../../../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero-section {
  max-width: 1500px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: auto;
  /* margin-top: 140px; */
  height: 750px;
  padding: 10px;
}

.text {
  width: 50%;
  text-align: center;
  padding: 10px;
}

.nav-logo {
  height: 60px;
  padding: 5px;
  margin-left: 15px;
}

.cafe-logo {
  height: 120px;
  margin-bottom: 34px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}

.menu-icon {
  padding: 10px;
  cursor: pointer;
  margin-right: 22px;
}

.primary-heading {
  color: #333;
  font-weight: 900;
  font-size: 50px;
  max-width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 54px;
}

.hero-section p {
  max-width: 90%;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 33px;
}

.hero-link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.hero-image {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.button {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  padding: 0 55px;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  background-color: #f4ece3;
  color: #333;
  cursor: pointer;
  border: 2px solid #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
