.card {
  padding: 1rem;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 1.4rem 3.8rem rgba(0, 0, 0, 0.085);
  /* border-radius: 12px; */
  /* overflow: hidden; */
  transition: all 0.4s;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2.2rem 4.4rem rgba(0, 0, 0, 0.06);
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
  /* margin: auto; */
}

.product-title {
  margin-bottom: 0.5rem;
}

.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card li {
  margin-bottom: 0.2rem;
}

.card p {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.card a {
  display: inline-block;
  color: #333;
  margin-top: 30px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
}
